<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="src/css/w3.css">
	<link rel="stylesheet" href="src/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<title>Home</title>
</head>

<body>
	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left side-bar" style="display:none" id="mySidebar">
		<!-- Side bar Menu -->
		<div class="sidebar-language">
			<button class="w3-bar-item w3-button w3-xlarge sidebar">ENG</button>
			<button class="w3-bar-item w3-button w3-xlarge sidebar">FR</button>
			<button class="w3-bar-item w3-button w3-xlarge sidebar">عربي</button>
		</div>
		<!-- contents of side bar -->
		<a class="w3-bar-item sidebar-title">Compte</a>
		<a href="/loginPage" class="w3-bar-item sidebar-link"><img class="search-icon"
				src="src/icons/account-white-icon.svg" style="height:12px;"> Login</a>
		<a href="registerPage" class="w3-bar-item sidebar-link"><img class="search-icon"
				src="src/icons/account-add-icon.svg" style="height:12px;"> Register</a>
		<!-- separator -->
		<a class="w3-bar-item sidebar-title">Categories</a>
		<a href="#" class="w3-bar-item sidebar-link"><img class="search-icon" src="src/icons/car-icon.svg"
				style="height:18px;"> Véhicules</a>
		<a href="#" class="w3-bar-item sidebar-link"><img class="search-icon" src="src/icons/battery-icon.svg"
				style="height:18px;"> piéces détachées</a>
		<a href="#" class="w3-bar-item sidebar-link"><img class="search-icon" src="src/icons/android-icon.svg"
				style="height:18px;"> Téléphones</a>
		<a href="#" class="w3-bar-item sidebar-link"><img class="search-icon" src="src/icons/headphones-icon.svg"
				style="height:18px;"> Accessoires de téléphones</a>
		<a href="#" class="w3-bar-item sidebar-link"><img class="search-icon" src="src/icons/appliance-icon.svg"
				style="height:18px;"> Electronique et electroménager</a>
		<a href="vetements" class="w3-bar-item sidebar-link"><img class="search-icon"
				src="src/icons/clothes-icon.svg" style="height:18px;"> Vétements</a>
				<a href="vetements" class="w3-bar-item sidebar-link"><img class="search-icon"
					src="src/icons/animal.png" style="height:18px;">Animaux</a>
		<a href="vetements" class="w3-bar-item sidebar-link"><img class="search-icon"
				src="src/icons/services.png" style="height:18px;"> Services</a>
		<a href="/vetements" class="w3-bar-item sidebar-link"><img class="search-icon"
				src="src/icons/currency.png" style="height:18px;"> Change/Devises</a>
		<a href="/vetements" class="w3-bar-item sidebar-link"><img class="search-icon"
				src="src\icons\bitcoin.png" style="height:18px;"> CryptoMonnaies</a>
		<a href="#" class="w3-bar-item sidebar-link"><img class="search-icon" src="src/icons/perfume-icon.svg"
				style="height:18px;"> Cosmetique et beauté</a>
		<a href="#" class="w3-bar-item sidebar-link"><img class="search-icon" src="src/icons/watch-icon.svg"
				style="height:18px;"> Accessoire de mode</a>
		<a href="#" class="w3-bar-item sidebar-link"><img class="search-icon" src="src/icons/auction.png"
				style="height:18px;">Enchères</a>
		<a href="#" class="w3-bar-item sidebar-link"><img class="search-icon" src="src/icons/battery-icon.svg"
				style="height:18px;"> Devise</a>
		</div>
		<div id="navbar" class="navbar">
			<a href="#" id="openNav" class="w3-large navbar-first" onclick="menu_click()"><svg width="22" height="14"
					viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M0.785714 2.57143H21.2143C21.6482 2.57143 22 2.31561 22 2V0.571429C22 0.255821 21.6482 0 21.2143 0H0.785714C0.351754 0 0 0.255821 0 0.571429V2C0 2.31561 0.351754 2.57143 0.785714 2.57143ZM0.785714 8.28571H21.2143C21.6482 8.28571 22 8.02989 22 7.71429V6.28571C22 5.97011 21.6482 5.71429 21.2143 5.71429H0.785714C0.351754 5.71429 0 5.97011 0 6.28571V7.71429C0 8.02989 0.351754 8.28571 0.785714 8.28571ZM0.785714 14H21.2143C21.6482 14 22 13.7442 22 13.4286V12C22 11.6844 21.6482 11.4286 21.2143 11.4286H0.785714C0.351754 11.4286 0 11.6844 0 12V13.4286C0 13.7442 0.351754 14 0.785714 14Z"
						fill="white" />
				</svg>
			</a>
			<div class="navbar__logo"><a href="home.ejs"><img src="src/images/logo-ab.png"
						style="width:8%;height:auto;" />Ali bay</a></div>
			<div class="navbar__search">
				<a class="search-icon-link" href="#"><img class="search-icon" src="src/icons/search-icon.svg"
						style="width:22px;"></a>
				<input type="text" placeholder="Search" class="navbar__search__input" />
			</div>
			<div class="navbar__links">


				<div class="dropdown">
					<a href="#" class="dropbtn"><img class="nav-icons" src="src/icons/cart-icon.svg"></a>
					<div id="dropdown-cart" class="dropdown-content">
						<p>My Cart</p>
						<a href="product-page.ejs"><img class="search-icon" src="src/icons/clothes-icon.svg"> Link
							1</a>
						<a href="#"><img class="search-icon" src="src/icons/watch-icon.svg"> Link 2</a>
						<a href="#"><img class="search-icon" src="src/icons/appliance-icon.svg"> Link 3</a>
					</div>
				</div>

				<div class="dropdown">
					<a href="ad_list.ejs" class="dropbtn"><img class="nav-icons" src="src/icons/add-icon.svg"></a>
				</div>

				<div class="dropdown">
					<a href="#" class="dropbtn"><img class="nav-icons" src="src/icons/account-icon.svg"></a>
					<div id="dropdown-acc" class="dropdown-content">
						<% if (typeof variableName !== 'undefined') { %>
							<!-- Do something with the variable here -->
							<% if (loggedIn) { %>
								<p>My Account</p>
								<div class="dropdown-acc-info-container">
									<div class="dropdown-acc-icon"><img id="dropdown-account-icon"
											src="src/icons/account-icon.svg">
									</div>
									<a id="dropdown-acc-username"><%= username %></a>
								</div>
								<a href="#">Disconnect</a>
							<% } else { %>
								<p>Anonyme</p>
								<a href="login.html">Login</a>
								<a href="register.html">Register</a>
							<% } %>
							<% } %>
					</div>
				</div>

			</div>
		</div>

		<!-- Body Start -->
		<div id="container" style="display:flex;">
			<div class="left">
				<img src="src/pub/soon.jpg" id="img" >
			</div>
			<script  >
				let ime = document.getElementById('img');
						let imes = ['src/pub/1.jpg','src/pub/2.jpg','src/pub/3.jpg','src/pub/4.jpg','src/pub/5.jpg','src/pub/6.jpg','src/pub/7.jpg','src/pub/8.jpg','src/pub/9.jpg','src/pub/10.jpg','src/pub/11.jpg','src/pub/12.jpg','src/pub/13.jpg','src/pub/14.jpg','src/pub/soon.jpg'];
						
						setInterval(function(){
							let random = Math.floor(Math.random() * 15);
							ime.src = imes[random];
						}, 1000*2.5);
			</script>
			<div class="main">
				<!-- ADS -->
				<div class="ad-box">
					<img src="src/pub/soon.jpg" id="image">
				</div>
<script  >
	let image = document.getElementById('image');
			let images = ['src/pub/1.jpg','src/pub/2.jpg','src/pub/3.jpg','src/pub/4.jpg','src/pub/5.jpg','src/pub/6.jpg','src/pub/7.jpg','src/pub/8.jpg','src/pub/9.jpg','src/pub/10.jpg','src/pub/11.jpg','src/pub/12.jpg','src/pub/13.jpg','src/pub/14.jpg','src/pub/soon.jpg'];
			
			setInterval(function(){
				let random = Math.floor(Math.random() * 15);
				image.src = images[random];
			}, 1000*5);
</script>
				<!-- Categories -->
				<div class="category-links">
					<a href="#" class="category-link">
						<!-- change class to "active-category" if it's the selected category -->
						<div class="category-icon"><img src="src/icons/perfume-icon.svg"></div>
						<div class="category-text">Cosmetique et beauté</div>
					</a>
					<a href="#" class="category-link">
						<div class="category-icon"><img src="src/icons/watch-icon.svg"></div>
						<div class="category-text">Accessoire de mode</div>
					</a>
					<a href="#" class="category-link">
						<div class="category-icon"><img src="src/icons/car-icon.svg"></div>
						<div class="category-text">Véhicules</div>
					</a>
					<a href="#" class="category-link">
						<div class="category-icon"><img src="src/icons/battery-icon.svg"></div>
						<div class="category-text">piéces détachées</div>
					</a>
					<a href="#" class="category-link">
						<div class="category-icon"><img src="src/icons/android-icon.svg"></div>
						<div class="category-text">Téléphones</div>
					</a>
					<a href="#" class="category-link">
						<div class="category-icon"><img src="src/icons/headphones-icon.svg"></div>
						<div class="category-text">Accessoires de téléphones</div>
					</a>
					<a href="#" class="category-link">
						<div class="category-icon"><img src="src/icons/appliance-icon.svg"></div>
						<div class="category-text">Electronique et electroménager</div>
					</a>
					<a href="vetements.ejs" class="category-link">
						<div class="category-icon"><img src="src/icons/clothes-icon.svg"></div>
						<div class="category-text">Vétements</div>
					</a>
					<a href="vetements.ejs" class="category-link">
						<div class="category-icon"><img src="src/icons/ruins.png"></div>
						<div class="category-text">Antiquités</div>
					</a><a href="vetements.ejs" class="category-link">
						<div class="category-icon"><img src="src/icons/currency.png"></div>
						<div class="category-text">Devise</div>
					</a>
					<a href="vetements.ejs" class="category-link">
						<div class="category-icon"><img class="icn" src="src/icons/auction.png"></div>
						<div class="category-text">Enchères</div>
					</a>
					<a href="vetements.ejs" class="category-link">
						<div class="category-icon"><img class="icn" src="src/icons/animal.png"></div>
						<div class="category-text">Animaux</div>
					</a>
					<a href="vetements.ejs" class="category-link">
						<div class="category-icon"><img class="icn" src="src/icons/services.png"></div>
						<div class="category-text">Services</div>
					</a>
					<a href="vetements.ejs" class="category-link">
						<div class="category-icon"><img class="icn" src="src/icons/bitcoin.png"></div>
						<div class="category-text">Cryptocurrency</div>
					</a>
				</div>

				<!-- Products List  -->
				<div class="product-list">
					<!-- a single product start -->
					<div class="product-card">
						<a href="product-page.ejs"><img class="product-card-img" src="src/images/ades (1).png"
								alt="Product Image"></a>
						<!-- <h2>Product 1</h2> -->
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
						<div class="product-icons">
							<a href="#" class="card-icon-links"><img class="card-icons"
									src="src/icons/like-icon.svg"></a>
							<a href="product-page.ejs" class="card-icon-links"><img class="card-icons"
									src="src/icons/comment-icon.svg"></a>
							<a href="#" class="card-icon-links"><img class="card-icons"
									src="src/icons/add-to-cart-icon.svg"></a>
						</div>
					</div>
					<!-- end of one product -->
					<!-- a single product start -->
					<div class="product-card">
						<a href="product-page.ejs"><img class="product-card-img" src="src/images/ades (1).png"
								alt="Product Image"></a>
						<!-- <h2>Product 1</h2> -->
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
						<div class="product-icons">
							<a href="#" class="card-icon-links"><img class="card-icons"
									src="src/icons/like-icon.svg"></a>
							<a href="product-page.ejs" class="card-icon-links"><img class="card-icons"
									src="src/icons/comment-icon.svg"></a>
							<a href="#" class="card-icon-links"><img class="card-icons"
									src="src/icons/add-to-cart-icon.svg"></a>
						</div>
					</div>
					<!-- end of one product -->
					<!-- a single product start -->
					<div class="product-card">
						<a href="product-page.ejs"><img class="product-card-img" src="src/images/ades (1).png"
								alt="Product Image"></a>
						<!-- <h2>Product 1</h2> -->
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
						<div class="product-icons">
							<a href="#" class="card-icon-links"><img class="card-icons"
									src="src/icons/like-icon.svg"></a>
							<a href="product-page.ejs" class="card-icon-links"><img class="card-icons"
									src="src/icons/comment-icon.svg"></a>
							<a href="#" class="card-icon-links"><img class="card-icons"
									src="src/icons/add-to-cart-icon.svg"></a>
						</div>
					</div>
					<!-- end of one product -->
				</div>


			</div>
			<div class="right"><img src="src/pub/soon.jpg" id="pub"></div>
		</div>
		<script  >
			let img = document.getElementById('pub');
					let imgs = ['src/pub/1.jpg','src/pub/2.jpg','src/pub/3.jpg','src/pub/4.jpg','src/pub/5.jpg','src/pub/6.jpg','src/pub/7.jpg','src/pub/8.jpg','src/pub/9.jpg','src/pub/10.jpg','src/pub/11.jpg','src/pub/12.jpg','src/pub/13.jpg','src/pub/14.jpg','src/pub/soon.jpg'];
					
					setInterval(function(){
						let random = Math.floor(Math.random() * 15);
						img.src = imgs[random];
					}, 1000*3);
		</script>

<script>const backToTopButton = document.querySelector('.back-to-top');

	window.addEventListener('scroll', () => {
		if (window.scrollY > 200) {
			backToTopButton.classList.add('show');
		} else {
			backToTopButton.classList.remove('show');
		}
	});

	backToTopButton.addEventListener('click', () => {
		window.scrollTo({ top: 0, behavior: 'smooth' });
	});
	function menu_click() {
		if (document.getElementById("mySidebar").style.display === "none") {
			document.getElementById("mySidebar").style.left = "0";
			document.getElementById("mySidebar").style.width = "15%";
			document.getElementById("mySidebar").style.display = "block";
		}
		else {
			document.getElementById("mySidebar").style.display = "none";
		}
	}
	function w3_close() {
		document.getElementById("mySidebar").style.display = "none";
	}
	</script>
		<a href="#" class="back-to-top"></a>
		<script src="script.js"></script>
</body>

</html>